{% extends 'header.html' %}

{% block content%}


<form method="post" enctype="multipart/form-data" action="predictImage">

    {% csrf_token %}



    <div class="container bg-faded">
        <h1 class="text-center">Image Classification Web App</h1>
        <div class="row">
            <div class="col text-center">University of South Wales<code> -Mario Mura-</code></div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col">
                <div class="mx-auto w-50 p-3 bg-dark text-white text-center">
                    <span>Django App with the use of<code> Tensorflow & Keras</code></span>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-3 mx-auto">
                <div class="card" style="width: 18rem;">
                    <img src="{{filePathName}}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-title"><label for="fname">Upload Image File Here:</label>
                            <input type="file" name="filePath" id="file" class="inputfile" />
                            <label for="file">Choose a file</label>
                        </p>
                        <input class="submitBtn" type="submit" value="Submit">
                        <p>The image shows : <span class="prediction">{{predictedLabel}}</span></p>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</form>

{% endblock %}